#footer-end {
  background: #16697a;
  width: 100%;
}

.blog-end {
  padding: 57px 0 87px;
}

.legel {
  display: inline-block;
  padding-bottom: 25px;
  margin-right: 40px;
}

.legel h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.legel ul {
  margin-top: 10px;
}

.legel ul li {
  font-style: normal;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.made-btn {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.item-made h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color:  var(--dark-color);
}

.item-made img {
    margin-left: 20px;
}
